@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap");
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  display: none;
}
html {
  scroll-behavior: smooth;
  font-family: "Lora", serif;
  overflow-x: hidden;
  overflow-y: scroll;
}
:root {
  --gr: rgb(124, 180, 124);
}
h1 {
  color: rgba(48, 48, 48);
  font-size: 7vw;
}
h2 {
  color: rgb(73, 73, 73);
  font-size: 5vw;
}
h3 {
  color: rgb(33, 33, 33);
  font-size: 2vw;
}

.box {
  background-color: var(--gr);
  width: 45vw;
  text-align: center;
  margin-top: 2vw;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.about {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  display: flex;
}
.skills {
  background-color: rgb(36, 35, 35);
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  display: flex;
}
.work {
  background-color: rgb(36, 35, 35);
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  display: flex;
}
.certificates {
  background-color: rgb(36, 35, 35);
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  display: flex;
}
.work h2 {
  color: white;
}
.work h3 {
  width: 70vw;
  margin: 5vw;
  color: var(--gr);
  text-align: center;
}
.skills h2 {
  color: var(--gr);
}
.skills h3 {
  margin: 1vw;
  color: white;
  text-align: center;
}
.certificates h2 {
  color: var(--gr);
}
.line {
  margin: 2vw;
  width: 10vw;
  height: 0.2vw;
  background-color: rgb(255, 255, 255, 0.5);
}
.about h2 {
  margin: 1vw;
}
.about h4 {
  font-size: 1.3vw;
  font-weight: 300;
  width: 41vw;
  margin: 1vw;
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 28vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8vw;
  background-color: rgb(43, 42, 42);
  transform: translateX(28vw);
  transition: 0.5s ease-in-out;
}
.navbar.show {
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}
.navbar .links a {
  text-decoration: none;
  font-size: 3vw;
  color: white;
  transition: 0.2s ease-in-out;
}
.navbar .links a:hover {
  color: var(--gr);
  transition: 0.2s ease-in-out;
}
.links {
  height: 60vw;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 10vh;
  padding: 2vw;
}
.ham {
  margin: 0.2vw;
  width: 4vw;
  height: 0.5vw;
  border-radius: 5vw;
  background-color: var(--gr);
  align-self: right;
  transition: 0.25s ease-in-out;
}
.hamburger {
  position: fixed;
  top: 1vh;
  right: 1vw;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.ham:nth-child(1).open {
  background-color: white;
  transform: translate(-0.2vw, 0.9vw) rotate(45deg);
  transition: 0.25s ease-in-out;
  width: 3.5vw;
}
.ham:nth-child(2).open {
  display: none;
  transition: 0.3s ease-in-out;
}
.ham:nth-child(3).open {
  background-color: white;
  width: 3.5vw;
  transform: translate(-0.2vw, 0) rotate(-45deg);
  transition: 0.25s ease-in-out;
}
.certi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.cert {
  border: 5px solid var(--gr);
  border-radius: 0.5vw;
  width: 19vw;
  height: 16vw;
  margin: 2vw;
  transition: 0.3s ease-in-out;
}
.cert:hover {
  scale: 1.3;
  transition: 0.3s ease-in-out;
}
.cert._1 {
  background-image: url("assets/CertificateCourse1.jpg");
  background-size: cover;
  background-position: center;
}
.cert._2 {
  background-image: url("assets/CertificateCourse2.jpg");
  background-size: cover;
  background-position: center;
}
.cert._3 {
  background-image: url("assets/CertificateCourse3.jpg");
  background-size: cover;
  background-position: center;
}
.cert._4 {
  background-image: url("assets/CertificateCourse4.jpg");
  background-size: cover;
  background-position: center;
}
/*.cert._5 {
  background-size: cover;
  background-position: center;
}*/
footer {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 19, 19);
  color: var(--gr);
}
footer h4 {
  margin: 0.5vw;
  font-size: 1.5vw;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  width: 40vw;
  margin: 2vw;
}
.icon {
  fill: var(--gr);
  transition: 0.3s ease-in-out;
}
.icon:hover {
  fill: rgb(96, 140, 96);
  scale: 1.2;
  transition: 0.3s ease-in-out;
}
